* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: arial, sans-serif;
}

/* .app {
  background-image: url("//Img/img1.jpg");
  background-size: cover;
  background-position: bottom;
  transition: 0.4 ease-out;
} */

main {
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.35)
  );
  display: flex;
  justify-content: center;
  min-height: 100vh;
  max-width: 100%;
}

.searchbox {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.searchbox h1 {
  margin-top: 100px;
  margin-bottom: 30px;
  font-size: 80px;
}

.searchbox .w,
.searchbox .t {
  color: #4285f4;
}
.searchbox .e {
  color: #db4437;
}
.searchbox .h {
  color: #0f9d58;
}
.searchbox .a,
.searchbox .r {
  color: #f4b400;
}

.searchbox .searchbar {
  display: block;
  width: 584px;
  padding: 15px 45px;
  outline: none;
  color: #222;
  border: 1px solid #dfe1e5;
  border-radius: 50px;
  font-size: 14px;
  font-family: arial, sans-serif;
  background: white;
}

.searchbox .icon {
  display: block;
  position: absolute;
  bottom: 16px;
  left: 20px;
  font-size: 15px;
  color: #9aa0a6;
}

.searchbox .icon2 {
  display: block;
  position: absolute;
  bottom: 16px;
  right: 20px;
  color: #4285f4;
  cursor: pointer;
}

.searchbox .searchbar:hover {
  box-shadow: 0px 2px 7px rgb(0, 0, 0, 0.2);
}

.hint {
  display: flex;
  flex-direction: column;
}
.hint .searchbtn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.hint .searchbtn .btn1,
.hint .searchbtn .btn {
  background-color: #f8f9fa;
  padding: 10px 16px;
  color: #3c4043;
  border-radius: 4px;
  border: 1px solid #f8f9fa;
  font-size: 14px;
  font-family: arial, sans-serif;
  cursor: pointer;
}
.hint .searchbtn .btn1 {
  margin-right: 11px;
}

.hint .searchbtn .btn1:hover,
.hint .searchbtn .btn:hover {
  box-shadow: 0px 1px 3px rgb(0, 0, 0, 0.3);
}

.hint .searchhint {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  font-size: 13.5px;
}
.hint .searchhint div {
  display: inline-block;
  color: #222;
}

.hint .searchhint .info {
  display: block;
  margin: 0 5px;
  color: #1a0dab;
  cursor: pointer;
}

.locationbox {
  margin-top: 60px;
}

.locationbox .location {
  color: #fff;
  font-size: 32px;
  font-weight: 500;
  text-align: center;
  text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
}

.locationbox .date {
  color: #fff;
  font-size: 20px;
  font-weight: 300;
  font-style: italic;
  text-align: center;
  text-shadow: 2px 2px rgba(50, 50, 70, 0.5);
}

.weatherbox {
  text-align: center;
}

.weatherbox .temp {
  position: relative;
  display: block;
  margin: 30px auto;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  padding: 15px 25px;
  color: #fff;
  font-size: 102px;
  font-weight: 900;
  text-shadow: 3px 6px rgba(50, 50, 70, 0.5);
  box-shadow: 3px 6px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.weatherbox .weather {
  color: #fff;
  font-size: 48px;
  font-weight: 700;
  text-shadow: 3px 6px rgba(50, 50, 70, 0.5);
}

@media only screen and (max-width: 768px) {
  .searchbox .searchbar {
    width: 400px;
  }
  .searchbox h1 {
    font-size: 55px;
  }

  .hint .searchbtn .btn1,
  .hint .searchbtn .btn {
    font-size: 13px;
  }

  .hint .searchhint {
    font-size: 12.5px;
  }
}
